@model IEnumerable<KPI.Model.ViewModel.NotificationViewModel>
@using KPI.Model.ViewModel
@{
    ViewBag.Title = "ListHistoryNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userProfile = Session["UserProfile"] as UserProfileVM;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box  box-primary">
            <div class="box-header">
                <h3 class="box-title">List Histories Notifications</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive table-bordered">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="10">No.</th>
                            <th>Notification</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;

                            foreach (var item in Model)
                            {
                                if (item.Content.IndexOf(";") > 0)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>
                                            <p><b>Tag: </b> @item.FullNameBy mentioned @item.FullName</p>
                                            <p><b>Title: </b>@item.Title</p>
                                            <p>
                                                <b>Content: </b>
                                                <ul class="chart-legend clearfix">
                                                    @foreach (var a in @item.Content.Split(';'))
                                                    {
                                                        <li><i class="fa fa-check-circle-o text-green"></i> @a</li>
                                                    }
                                                </ul>
                                            </p>
                                            <p><b>Due Date: </b>@item.DueDate</p>
                                            <p><b>Created Time: </b>@item.CreateTime.ToString("MM/dd/yyy HH:mm:ss")</p>


                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>
                                            <p><b>Tag: </b> @item.FullNameBy mentioned @item.FullName</p>
                                            <p><b>Title: </b>@item.Title</p>
                                            <p>
                                                <b>Content: </b>
                                                <ul class="chart-legend clearfix">
                                                  
                                                    <li><i class="fa fa-check-circle-o text-green"></i> @item.Content</li>
                                                    
                                                </ul>
                                            </p>
                                            <p><b>Created Time: </b>@item.CreateTime.ToString("MM/dd/yyy HH:mm:ss")</p>


                                        </td>
                                    </tr>
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

