@using MvcBreadCrumbs;
@model KPI.Model.ViewModel.DataCompareVM
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list1 = (KPI.Model.ViewModel.ChartVM)ViewBag.List1;

    var list2 = (KPI.Model.ViewModel.ChartVM)ViewBag.List2;
    var list3 = (KPI.Model.ViewModel.ChartVM)ViewBag.List3;
    var list4 = (KPI.Model.ViewModel.ChartVM)ViewBag.List4;
    var period = list1.period;
    var kpiname = list1.kpiname;
    var standard = (int)ViewBag.Standard;
    var unit = (string)ViewBag.Unit;
    var periodText = (string)ViewBag.PeriodText;

}

@Html.Raw(BreadCrumb.Display())
@section Scripts{
    <script>



        $(function () {

             var labelString;
        if ("@period" === "W"){
            labelString = " Weeks in year ";
            if (@Html.Raw(Json.Encode(@list1.datasets.Length)) !== 0) {
                $("#tblkpi tr:first-child").append("<th>Week</th>");
                $.each(@Html.Raw(Json.Encode(@list1.labels)), function (key, item) {
                    $("#tblkpi tr:first-child").append("<th >" + item + "</th>");
                });

                $("#tblkpi tr:nth-child(2)").append("<th >"+@Html.Raw(Json.Encode(@list1.label))+"</th>");
                $.each(@Html.Raw(Json.Encode(@list1.datasets)), function (key, item) {
                    $("#tblkpi tr:nth-child(2)").append("<td>" + item + "</td>");
                });
            }
            if (@Html.Raw(Json.Encode(@list2.datasets.Length)) !== 0) {
                 $("#tblkpi tr:nth-child(3)").append("<th >"+@Html.Raw(Json.Encode(@list2.label))+"</th>");
                $.each(@Html.Raw(Json.Encode(@list2.datasets)), function (key, item) {
                    $("#tblkpi tr:nth-child(3)").append("<td>" + item + "</td>");
                });
            }
            if (@Html.Raw(Json.Encode(@list3.datasets.Length)) !== 0) {
                    $("#tblkpi tr:nth-child(4)").append("<th >"+@Html.Raw(Json.Encode(@list3.label))+"</th>");
                $.each(@Html.Raw(Json.Encode(@list3.datasets)), function (key, item) {
                    $("#tblkpi tr:nth-child(4)").append("<td>" + item + "</td>");
                });
            }
            if (@Html.Raw(Json.Encode(@list4.datasets.Length)) !== 0) {
                    $("#tblkpi tr:nth-child(5)").append("<th >"+@Html.Raw(Json.Encode(@list4.label))+"</th>");
                $.each(@Html.Raw(Json.Encode(@list4.datasets)), function (key, item) {
                    $("#tblkpi tr:nth-child(5)").append("<td>" + item + "</td>");
                });
            }

        console.log(@Html.Raw(Json.Encode(@list3.datasets.Length)))
        }

        if ("@period" === "M") {
            labelString = "Months in year";
                $("#tblkpi tr:first-child").append("<th >Month</th>");
            $.each(@Html.Raw(Json.Encode(@list1.labels)), function (key, item) {
                $("#tblkpi tr:first-child").append("<th >" + item + "</th>");
            });
            $("#tblkpi tr:nth-child(2)").append("<th >"+@Html.Raw(Json.Encode(@list1.label))+"</th>");
            $.each(@Html.Raw(Json.Encode(@list1.datasets)), function (key, item) {
                $("#tblkpi tr:nth-child(2)").append("<td>" + item + "</td>");
            });
        }
        if ("@period" === "Q") {
            labelString = "Quarters in year";
                $("#tblkpi tr:first-child").append("<th >Quarter</th>");
            $.each(@Html.Raw(Json.Encode(@list1.labels)), function (key, item) {
                $("#tblkpi tr:first-child").append("<th >" + item + "</th>");
            });
            $("#tblkpi tr:nth-child(2)").append("<th >"+@Html.Raw(Json.Encode(@list1.label))+"</th>");
            $.each(@Html.Raw(Json.Encode(@list1.datasets)), function (key, item) {
                $("#tblkpi tr:nth-child(2)").append("<td>" + item + "</td>");
            });
        }

        if ("@period" === "Y") {
            labelString = "Year";
                $("#tblkpi tr:first-child").append("<th >Year</th>");
            $.each(@Html.Raw(Json.Encode(@list1.labels)), function (key, item) {
                $("#tblkpi tr:first-child").append("<th >" + item + "</th>");
            });
            $("#tblkpi tr:nth-child(2)").append("<th >"+@Html.Raw(Json.Encode(@list1.label))+"</th>");
            $.each(@Html.Raw(Json.Encode(@list1.datasets)), function (key, item) {
                $("#tblkpi tr:nth-child(2)").append("<td>" + item + "</td>");
            });
        }
            var densityCanvas = document.getElementById("lineChart");
            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 12;

            var standards = [];
            for (var i = 0; i < @Html.Raw(Json.Encode(@list1.datasets).Length); i++) {
                standards.push(@standard);
            }
            var standard = {
                label:  "Standard",
                backgroundColor: Samples.color(0),
                borderColor: Samples.color(0),
                data: standards,
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            }
            var list1 = {
                label:  "@Html.Raw(@list1.label)",
                backgroundColor: Samples.color(1),
                borderColor: Samples.color(1),
                data: @Html.Raw(Json.Encode(@list1.datasets)),
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            };

            var list2= {
                label: "@Html.Raw(@list2.label)",
                 
                data:  @Html.Raw(Json.Encode(@list2.datasets)),
                backgroundColor: Samples.color(2),
                borderColor: Samples.color(2),
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            };

            var list3 = {
                label:  "@Html.Raw(@list3.label)",
                data:  @Html.Raw(Json.Encode(@list3.datasets)),
                 backgroundColor: Samples.color(3),
                borderColor: Samples.color(3),
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            };

            var list4= {
                label:   "@Html.Raw(@list4.label)",
                data:  @Html.Raw(Json.Encode(@list4.datasets)),
                  backgroundColor: Samples.color(4),
                borderColor: Samples.color(4),
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            };
            console.log(list1.data.length);
            console.log(list2.data.length);
            console.log(list3.data.length);
            console.log(list4.data.length);
            var compareData;
             if (list4.data.length === 0) {

                  compareData = {
                    labels: @Html.Raw(Json.Encode(@list1.labels)),
                    datasets: [standard,list1, list2, list3]
                    };
             }

             if (list3.data.length=== 0&&list4.data.length=== 0) {

                   compareData = {
                    labels: @Html.Raw(Json.Encode(@list1.labels)),
                    datasets: [standard,list1, list2]
                    };
            }
              if(list1.data.length!== 0&&list2.data.length!== 0&&list3.data.length!== 0&&list4.data.length!== 0) {

                   compareData = {
                    labels: @Html.Raw(Json.Encode(@list1.labels)),
                    datasets: [standard,list1, list2,list3, list4]
                    };
            }
            var chartOptions = {
                 plugins: {
                        datalabels: {
                            backgroundColor: function (context) {
                                return context.dataset.backgroundColor;
                            },
                            borderRadius: 4,
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                         formatter: Math.round,
                             display: function (context) {
                                console.log(context.dataset.label)
                                return context.dataset.label !=="Standard"; // display labels with an odd index
                            }
                        }
                },
                    title: {
                    display: true,
                        text: "KPI Compare Chart - @kpiname - @periodText",
                        fontSize: 16,
                        fontColor: 'black'
                    },
                elements: {
                point:{
                        radius: 0
                    },
                line: {
                    tension: 0.2
                }
            },
                scales: {
                    yAxes: [{
                      gridLines: {
                        tickMarkLength: 8,
                        //color:["#f4f4f4","#d81b60"]
                    },
                    ticks: {
                        beginAtZero: true,
                        padding: 10,
                        fontSize: 14,
                        max: 100
                    },
                        scaleLabel: {
                             display: true,
                             labelString: '@unit',
                            fontSize: 16,
                          fontStyle:'inherit'
                          }
                    }],
                    xAxes: [{
                        gridLines: {
                        display: true,
                        drawBorder: false,
                        tickMarkLength: 10
                    },
                    ticks: {
                        fontSize: 14,
                        stepSize:5
                    }
                    ,
                     scaleLabel: {
                        display: true,
                         labelString: labelString,
                         fontSize: 16,
                          fontStyle:'inherit'
                      }
                    }]

                }
            };
            var lineChart = new Chart(densityCanvas, {
                type: 'line',
                data: compareData,
                options: chartOptions
            });
        });
    </script>
}
<section id="chartperiod">
    <div class="row">
        <div class="col-md-12">
            <!-- LINE CHART -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-weight:bold">KPI Compare Chart  - @kpiname - @periodText</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool"><i class="fa fa-times"></i></button>

                    </div>
                </div>
                <div class="box-body">
                    <button type="button" class="btn bg-maroon margin pull-right"><i class="fa fa-star"></i> <span>Standard : </span><span class="standard text-bold" style="">@standard</span></button>

                    <div class="chart">
                        <canvas id="lineChart" style="height:250px"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        @if (period == "W")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data  - @kpiname - Weekly</h3>
                        }
                        else if (period == "M")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Monthly</h3>

                        }
                        else if (period == "Q")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Quarterly</h3>

                        }
                        else if (period == "Y")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Yearly</h3>

                        }

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" style="margin-bottom:20px;" id="tblkpi">
                                <tbody>
                                    <tr></tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
