@using MvcBreadCrumbs;
@model KPI.Model.ViewModel.DataCompareVM
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var chartVM2s = (List<KPI.Model.ViewModel.ChartVM2>)ViewBag.ChartVM2s;
    var period = chartVM2s[0].period;
    var kpiname = chartVM2s[0].kpiname;
    var standard = (int)ViewBag.Standard;
    var unit = (string)ViewBag.Unit;
    var periodText = (string)ViewBag.PeriodText;

}

@Html.Raw(BreadCrumb.Display())
@section Scripts{
    <script>

        var chartVM2s = @Html.Raw(Json.Encode(chartVM2s));
        $(function () {
          

         var labelString;
            var densityCanvas = document.getElementById("lineChart");
            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 12;

            var standards = [];

            for (var i = 0; i < chartVM2s[0].lenght; i++) {
                standards.push(@standard);
            }
            var standard = {
                label:  "Standard",
                backgroundColor: Samples.color(2),
                borderColor: Samples.color(2),
                data: standards,
                datalabels: {
                    align: 'center',
                    anchor: 'center'
                }
            }
            if (chartVM2s.Unit === "Numeric") {

            }
            var list1;
            for (let item of chartVM2s) {
                let a = item;
                list1 = {
                        label: item.label,
                        spanGaps: false, //data=undefined thi k draw line
                        backgroundColor: Samples.color(3),
                        borderColor: Samples.color(3),
                        data: item.datasets,
                        datalabels: {
                            align: 'center',
                            anchor: 'center'
                        }
                };
            }


            var compareData = {
                        labels: listData1.labels,
                        datasets: [standard, list1, list2, list3, list4]
                    };
            var chartOptions = {
                 plugins: {
                        datalabels: {
                            backgroundColor: function (context) {
                                return context.dataset.backgroundColor;
                            },
                            borderRadius: 4,
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                         formatter: Math.round,
                         display: function (context) {
                                console.log(context.dataset.label)
                                return context.dataset.label !=="Standard"; // display labels with an odd index
                            }
                        }
                },
                    title: {
                    display: true,
                        text: "KPI Compare Chart - @kpiname - @periodText",
                        fontSize: 16,
                        fontColor: 'black'
                    },
                elements: {
                point:{
                        radius: 0
                    },
                line: {
                    tension: 0.2
                }
            },
                scales: {
                    yAxes: [{
                      gridLines: {
                        tickMarkLength: 8,
                        //color:["#f4f4f4","#d81b60"]
                    },
                    ticks: {
                        beginAtZero: true,
                        padding: 10,
                        fontSize: 14,
                        max: 100
                    },
                        scaleLabel: {
                             display: true,
                             labelString: '@unit',
                            fontSize: 16,
                          fontStyle:'inherit'
                          }
                    }],
                    xAxes: [{
                        gridLines: {
                        display: true,
                        drawBorder: false,
                        tickMarkLength: 10
                    },
                    ticks: {
                        fontSize: 14,
                        stepSize:5
                    }
                    ,
                     scaleLabel: {
                        display: true,
                         labelString: labelString,
                         fontSize: 16,
                          fontStyle:'inherit'
                      }
                    }]

                }
            };
            var lineChart = new Chart(densityCanvas, {
                type: 'line',
                data: compareData,
                options: chartOptions
            });
        });
    </script>
}
<section id="chartperiod">
    <div class="row">
        <div class="col-md-12">
            <!-- LINE CHART -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-weight:bold">KPI Compare Chart  - @kpiname - @periodText</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool"><i class="fa fa-times"></i></button>

                    </div>
                </div>
                <div class="box-body">
                    <button type="button" class="btn margin pull-right" style="background-color:#09a99f;color:#fff"><i class="fa fa-star"></i> <span>Standard : </span><span class="standard text-bold" style="">@standard</span></button>

                    <div class="chart">
                        <canvas id="lineChart" style="height:250px"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12" style="display:none">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        @if (period == "W")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data  - @kpiname - Weekly</h3>
                        }
                        else if (period == "M")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Monthly</h3>

                        }
                        else if (period == "Q")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Quarterly</h3>

                        }
                        else if (period == "Y")
                        {
                            <h3 class="box-title" style="font-weight:bold">Data - @kpiname - Yearly</h3>

                        }

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" style="margin-bottom:20px;" id="tblkpi">
                                <tbody>
                                    <tr></tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
