@using KPI.Model.helpers
@using KPI.Model.ViewModel
@{
    var userProfile = Session["UserProfile"] as UserProfileVM;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - KPI System</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    @RenderPage("_CSS.cshtml")
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">
        @Html.Partial("header")


        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @if (userProfile != null)
                {

                <ul class="sidebar-menu" data-widget="tree">
                    <li style="height: auto;">
                        <a href="/">
                            <i class="fa fa-dashboard"></i> <span>Home</span>
                        </a>
                    </li>
                    @if (userProfile.User.Permission != 1)
                    {
                        foreach (var item in userProfile.Menus)
                        {
                            if (item.Permission != 1)
                            {
                                <li>
                                    <a href="@item.Link">
                                        <i class="@item.FontAwesome"></i> <span>@item.Name</span>
                                    </a>
                                </li>
                            }
                        }
                    }
                    @if (userProfile.User.Permission == 1)
                    {
                        foreach (var item in userProfile.Menus)
                        {
                            if (item.Permission != 1)
                            {
                                <li>
                                    <a href="@item.Link">
                                        <i class="@item.FontAwesome"></i> <span>@item.Name</span>
                                    </a>
                                </li>
                            }
                        }
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Admin</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                @foreach (var item in userProfile.Menus)
                                {
                                    if (item.Permission == 1)
                                    {
                                        <li>
                                            <a href="@item.Link">
                                                <i class="@item.FontAwesome"></i> <span>@item.Name</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }

                </ul>
                }

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderPage("_PageHeader.cshtml")

            <!-- Main content -->
            <section id="content" class="content" style="overflow-x: scroll; overflow-x:hidden">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2019 <a href="/">By Lab Team</a>.</strong>
        </footer>

        <div class="control-sidebar-bg"></div>
        <!--Loading-->
        <div id="main-loading-delay" style="display:none">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
    @* ChangePassword *@
    <div class="modal fade" id="modal-group-change-password" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Change password </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="box-body" id="ChangePassword">
                            <div class="form-group">
                                <label for="username">Username </label>
                                <input type="text" class="form-control username disabled" placeholder="username" disabled>
                            </div>
                            <div class="form-group">
                                <label for="password">Password </label>
                                <input type="password" class="form-control password" placeholder="Enter password">
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="btnChangePassword" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    @* Model notification *@
    <div class="modal fade" id="modal-group-notify" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-bell-o"></i> Notification Detail</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="box-body" id="NotificationContent">


                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @RenderPage("_Script.cshtml")
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {
            $(".datepicker").datepicker({ dateFormat: 'mm-dd-yy' });
             //$( "input[name^=datepicker]" ).datepicker({ dateFormat: "mm-dd-yy" });
            // Declare a proxy to reference the hub.
            var notifications = $.connection.notificationHub;

            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                getAllNotifications();
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log("connection started")
                getAllNotifications();
            }).fail(function (e) {
                console.log(e);
            });


        });
        function getAllNotifications() {

            $.ajax({
                url: '/Home/GetNotifications',
                data: { userID: $('#user').data('userid') },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: "json",
                success: function (response) {

                    var data = response.data;
                    var total = response.total;
                    var arrays = response.arrayID;
                    console.log(response);
                    console.log('Load lai notification' + dateNow());

                    var htmlNotification = '';
                    var period = "";
                    var sessionUserID = $('#user').data('userid')
                    $.each(data, function (i, item) {
                        switch (item.Period) {
                            case "W": period = "Weekly"; break;
                            case "M": period = "Monthly"; break;
                            case "Q": period = "Quarterly"; break;
                            case "Y": period = "Yearly"; break;
                            default: period = "Not found"; break;
                        }
                        if (item.Seen)
                        {
                            if (item.UserID === sessionUserID) {
                                htmlNotification += `<li data-toggle="modal" data-target="#modal-group-notify"style="cursor:pointer;" >
                                                                  <a data-id="${item.ID}" class="itemNotify">
                                                                     <i class="fa fa-user text-success"></i>
                                                                   <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">You</b> mentioned ${item.Tag} in ${item.Title}
                                                                  </a>
                                                            </li>`
                            }
                            else
                            {
                                htmlNotification += `<li data-toggle="modal" data-target="#modal-group-notify"style="cursor:pointer;" >
                                                                  <a data-id="${item.ID}" class="itemNotify">
                                                                     <i class="fa fa-user text-success"></i>
                                                                 <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${item.FullNameBy}</b> mentioned ${item.Tag} in ${item.Title}

                                                                  </a>
                                                            </li>`
                            }

                        }
                        else
                        {
                            if (item.UserID === sessionUserID) {
                                htmlNotification += `<li data-toggle="modal" data-target="#modal-group-notify" style="background: #88c3ff;cursor:pointer;">
                                                                  <a data-id="${item.ID}" class="itemNotify">
                                                                     <i class="fa fa-user text-success"></i><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">you</b> mentioned ${item.Tag} in ${item.Title}
                                                                        "${item.Content}"
                                                                  </a>
                                                            </li>`
                            }
                            else
                            {
                                  htmlNotification += `<li data-toggle="modal" data-target="#modal-group-notify" style="background: #88c3ff;cursor:pointer;">
                                                                  <a data-id="${item.ID}" class="itemNotify">
                                                                     <i class="fa fa-user text-success"></i><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${item.FullNameBy}</b> mentioned ${item.Tag} in ${item.Title}
                                                                        "${item.Content}"
                                                                  </a>
                                                            </li>`
                            }
                        }
                    })

                    var html = `<a href="#" data-id="${arrays}" class="dropdown-toggle listNotifies" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning ${total === 0 ? "hidden" : ""}">${total}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have ${total > 1 ? `${total} new notifications` : `${total} new notification`} </li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu" id="NotificationMenu">
                                           ${htmlNotification}
                                        </ul>
                                    </li>
                                    <li class="footer"><a id=ViewAll href="/Home/ListHistoryNotification">View all</a></li>
                                </ul>`
                    $(".notifications-menu").empty();
                    $(".notifications-menu").html(html);

                    $('.itemNotify ').off('click').on('click', function () {
                        var ID = $(this).data('id');

                        $.ajax({
                            url: '/Notification/Update',
                            data: { ID: ID },
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {


                                var data = response.data;

                                if (response.status) {
                                    console.log("Da xem thong bao" + dateNow());

                                    var data = response.data;
                                    console.log(data)
                                    if (data !== "") {
                                        $("#NotificationContent").empty();
                                        var html = '', li = '', tag = '';

                                        if (data.Content !== null || data.Content !== undefined) {

                                            if (data.Content.indexOf(";") > 1) {
                                                console.log("Data update");
                                                for (let i of data.Content.split(';')) {
                                                    li += `<li><i class="fa fa-check text-green"></i> ${i}</li>`;
                                                }

                                                if (data.UserID === sessionUserID) {
                                                    tag += `<p><b>- Tag: </b><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">You</b> mentioned <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullName}</b><p/>`
                                                }
                                                else {
                                                    tag += `<p><b>- Tag: </b><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullNameBy}</b> mentioned <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullName}</b><p/>`
                                                }

                                                html = ` ${tag}
                                                            <p><b>- Title: </b><a href="${data.Link}" style="color:#2744d4"> ${data.Title}</a><p/>
                                                            <p><b>- Content: </b></p>
                                                            <ul class="chart-legend clearfix">
                                                            ${li}
                                                          </ul>
                                                            <p style="color:red"><b>- Due date: </b>${data.DueDate}<p/>
                                                            <p style="font-style:italic"><b>- Create Time: </b>${convertDateJson(data.CreateTime)}<p/>`;
                                                                
                                            } else {
                                                if (data.UserID === sessionUserID) {
                                                    tag += `<p><b>- Tag: </b><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">You</b> mentioned <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullName}</b><p/>`
                                                }
                                                else {
                                                    tag += `<p><b>- Tag: </b><b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullNameBy}</b> mentioned <b style="background-color:#0068ff;color:#fff;border-radius:5px;padding:0 5px 0 5px">${data.FullName}</b><p/>`
                                                }
                                                html = `${tag}
                                                            <p><b>- Title: </b><a href="${data.Link}" style="color:#2744d4"> ${data.Title}</a><p/>
                                                            
                                                            <p><b>- Content: </b></p>

                                                            <ul class="chart-legend clearfix">
                                                                <li><i class="fa fa-check text-green"></i> ${data.Content}</li>
                                                              </ul>
                                                            <p style="font-style:italic"><b>- Create Time: </b>${convertDateJson(data.CreateTime)}<p/>`;
                                            }

                                            $("#NotificationContent").append(html);
                                        } else {
                                            html = `<ul class="chart-legend clearfix">
                                                                <li><i class="fa fa-check text-red"></i> N/A</li>

                                                              </ul>`;
                                            $("#NotificationContent").append(html);
                                        }

                                    }
                                } else {
                                    console.log("Chua lay duoc du lieu Notification" + dateNow());
                                }
                            }
                        })
                    });
                }, error: function (e) { console.log(e) }
            })
        }

        function convertDateJson(d) {
            if (d === null)
                d = "/Date(1000000000000)/";

            let milli = d.replace(/\/Date\((-?\d+)\)\//, '$1');
            let date = new Date(parseInt(milli));
            let dd = String(date.getDate()).padStart(2, '0');
            let mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = date.getFullYear();

            return mm + '/' + dd + '/' + yyyy;
        }
    </script>


</body>
</html>
